body {
  background: #f0f9ff;
}

.navbar {
  margin-bottom: 1rem;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.navbar a {
  font-weight: bold;
  color: #fff;
}

.navbar a:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline-block;
  width: 30px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background-image: url('./images/nav-bg.png');
  background-size: 100% 100%;
}

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
  background-image: linear-gradient(to right, rgba(0, 60, 99, 0.639), rgba(0, 60, 99, 0.639)),url('./images/signed-out-home.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 8px #484d50;
}

#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

.timeline-image {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin: 2px 30px 10px 10px;
}

.btn:hover {
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover {
  color: #fff;
}